.accordion{
    position: fixed;
    top: 100px;
    background: white;
    width: 100%;
    height: 50px;
    z-index: 300;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    
    .accordion-item{
        .accordion-header{
            
            .accordion-button{
                top: 5px;
                width: 150px;
                margin-left: 20px;
                height: 40px;
            }
        }
        .accordion-collapse{
            .accordion-body{
               
                form{
                    display: flex;
                gap: 20px;
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
                }
                ul{
                    
                    border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
                    padding-right: 10px;
                    
                    p{
                        font-weight: bolder;
                        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
                        padding-bottom: 5px;
                        margin-bottom: 10px;
                    }    
                    li{
                        font-weight: lighter;
                        list-style: none;
                    }
                    select{
                    font-weight: lighter;
                    list-style: none;
                        option{
                            font-weight: lighter;
                            list-style: none;
                        }
                    }
                }
            }
        }
    }
}